body {
  background-image: url(http://www.chicagosocial.com/images/uploads/cms/background_tennis.jpg);

}

h1 {
  font-family: helvetica;
  font-weight: bold;
  color: white;
  width: 400px;
  padding: 20px;
  border: solid white;
  margin-left: auto;
  margin-right: auto;

}

p {
  font-family: helvetica;
  width: 600px;
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}
img {
  width: 580px;
  height: 370px;
}

table {
  border: 2px solid white;
  width: 400px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;

}

th {
  color: orange;
  font-weight: bold;
  font-size: 1.5em;
  font-family: Helvetica;
  padding: 10px;
  margin: 15px;
  width: 45%;
  border-bottom: 2px solid gray
}

tr {
  color: white;
  font-size: 1em;
  text-align: center;
  padding: 8px;
  margin:10px;
  width: 95%;
  font-family: Helvetica;
  border: 1px solid gray
}
td {
  border: 1px solid white
}

h2.shout {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-family: Helvetica;
  font-size: 4em;
  color: green;
  text-align: center;

}
h2.reviews {
  width: 290px;
  font-family: Helvetica;
  font-size: 1.5em;
  color: gray;
  text-align: center;
  margin-left: auto;
  border: solid grey;
  background: lightgreen;
}
ul {
  width: 240px;
  display: inline-block;
  color: grey;
  float: right;
  margin-top: 4px;
  font-family: helvetica;
  font-size: 1em;
  background: lightgreen;
  border: solid grey;
}
label {
  color: white;
}

h2#center {
  width: 450px;
  padding: 15px;
  margin-top: auto;
  display: block;
  vertical-align: top;
  font-size: 3em;
  color: white;
  font-family: arial;
  font-weight: bold;
}
h2#subheading {
  width: 380px;
  padding: 15px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
  color: white;
  font-family: arial;
  font-weight: bold;
}

a:visited { 
    color: yellow;
}

@media all and (min-width: 960px) {
    body{
        font-size: 18px;
    }
}
 
@media all and (max-width: 959px) and (min-width: 600px) {
    body{
        font-size: 16px;
    }
}
 
@media all and (max-width: 599px) and (min-width: 320px) {
    body{
        font-size: 12px;
    }
 
}






